<section class="hero">
  <div class="container">
    <div class="row hero-content align-items-center">
      <div class="col-md-6 hero-text">
        <h2>
          Discover your next favorite book
        </h2>
        <p>
          Welcome to our online bookstore, where you will find a wide selection
          of books for all tastes. Whether you are looking for adventure, romance,
          mystery, or knowledge, here we have something for you. Start exploring
          and find the perfect book for you!
        </p>
      </div>
      <div class="col-md-6 hero-image text-center">
        <img src="/public/assets/LOGO.png" alt="logo" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
